/* BANNER */
.banner {
    height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner>img {
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

/* *** */
/* ACCORDION */
.accordion-item {
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
}

.accordion-body {
    background-color: rgb(245, 245, 245)
}

.accordion-button:hover {
    background-color: rgb(206, 226, 255)
}

/* *** */

/* CARD */
.card {
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);

}

.card-text {
    height: 100px;
}

.card a {
    text-decoration: none;
    color: black;
}

.card:hover {
    background-color: rgb(230, 230, 230)
}

/* *** */

/* DROPDOWN BUTTON */
.btn-primary:hover {
    color: black;
    border-color: rgb(161, 194, 244);
    background-color: rgb(161, 194, 244);
}

.btn-primary {
    color: black;
    border-color: rgb(197, 218, 249);
    background-color: rgb(197, 218, 249);
}

.sizes {
    padding-left: 7px;
}

.dropdown-menu {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
    background-color: rgb(245, 245, 245);
}

.dropdown-item:hover {
    background-color: rgb(230, 230, 230);
}

/* *** */

@media(width>2000px) {

    section {
        font-size: 1.85rem;
    }

    .card-title {
        font-size: 2.5rem;
    }

    .btn-primary {
        font-size: 1.85rem;
    }

    .dropdown-menu {
        font-size: 1.85rem;
    }

    .accordion-button>h5 {
        font-size: 1.85rem;
    }

    .card-text {
        height: 150px;
    }
}

@media (width<450px) {

    .dropdown-menu {
        font-size: 0.85rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    section {
        font-size: 0.85rem;
    }

    .btn-primary {
        font-size: 0.85rem;
    }

    .accordion-button>h5 {
        font-size: 0.85rem;
    }

    .card-text {
        height: 60px;
    }

        .banner {
            height: 50vh;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .banner>img {
            height: 40vh;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 1;
        }
}


